body {
    color:#4B2A14;
    background-color: #9596a0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #ffffff;
    font-family: 'Delius', cursive;
}

.nav-wrapper {
    background-color: #4B2A14;
    color: #fff;
    padding-left: 15px;
}

.navbar-brand {
    color: #fff;
}

a.brand-logo {
    font-size: 25px;
    font-family: 'Delius', cursive;
}



.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.event_header {
    margin-top: 5px;
}

.parallax-container {
      height: 300px;
    }