body {
    color:#4B2A14;
}

.container {
    max-width: 400px;
    background-color: #647A8D;
}

.navbar {
    background-color: #4B2A14;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.event_header {
    margin-top: 5px;
}