{% extends "layoutpage.html" %} {% block page %}
<div class="add-pet row">
    <a class="waves-effect waves-light btn" href="{{ url_for('add_pet') }}">+ New Pet</a>
</div>
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for pet in pets %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('edit_pet', pet_id=pet._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
                <div class="event_header col s9"><strong>{{pet.pet_name}}</strong> - {{pet.birth_date}}</div>
            </div>
            <div class="collapsible-body">
                <span>
                    <p>Owner: {{pet.owner}}</p>
                    <p>Type: {{pet.pet_type}}</p>
                    <p>Breed: {{pet.pet_breed}}</p>
                    <p>Birth Date: {{pet.birth_date}}</p>
                    <p>Gender: {{pet.gender}}</p>
                    <p>Weight: {{pet.pet_weight}}</p>
                    <p>ID Number: {{pet.pet_id_number}}</p>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}