{% extends "layoutuser.html" %}
{% block user %}

    <!-- USERNAME ROW START -->
    <div class="username-greetings row">
        <div class="col-4">
            <h5>Hi! {{ session['username'] }}</h5>
        </div>
    </div>

    <!-- PET ROW START -->
    <div class="pet-greetings row">
        <a class="waves-effect waves-light btn" href="{{ url_for('get_pets') }}">
            {% for pet in pets %}<div value="{{pet.pet_name}}">{{pet.pet_name}}</div>{% endfor %}
            <input placeholder="+ New Pet">
        </a>
        <a class="waves-effect waves-light btn" href="{{ url_for('add_event') }}">+ New Event</a>
        <a class="waves-effect waves-light btn" href="{{ url_for('get_events') }}">History</a>
    </div>
        
    <!-- EVENTS ROW START -->
    <div class="events-greetings row">
        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
                {% for event in events %}
                <li>
                    <div class="collapsible-header">
                        <div class="col s3">
                            <i class="material-icons">expand_more</i>
                            <a href="{{url_for('delete_event', event_id=event._id)}}" class="waves-effect waves-light btn btn_small">Done</a>
                            <a href="{{url_for('edit_event', event_id=event._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                        
                        </div>
                        <div class=" event_header col s9">
                            <strong>{{event.event_name}}</strong> - {{event.due_date}}
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            {{event.event_description}} 
                        </span>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        $(document).ready(function(){
        $('.parallax').parallax();
        });
    </script>
{% endblock %}