{% extends "base.html" %}
{% block body %}
<!-- CONTAINER START -->
<div class="container">
    <!-- USERNAME ROW START -->
    <div class="username-greetings row">
        <div class="col-12">
            <h3>Hi! {{ session['username' ]}}</h3>
        </div>
    </div>
    <!-- USERNAME ROW END -->

    <!-- PROFILE DETAILS ROW START -->
    <a href="{{url_for('add_event')}}">Add Event</a>
    <a href="{{url_for('get_events')}}">Get events</a>
    <p>
    <a href="{{url_for('end_session')}}">Logout</a>
    </p>

</div>
{% endblock %}